<p id="notice"><%= notice %></p>

<h1>Listing Evaluaciones</h1>

<table>
  <thead>
    <tr>
      <th>Contestada</th>
      <th>Nombre</th>
      <th>Curso</th>
      <th>Encuesta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluaciones.each do |evaluacione| %>
      <tr>
        <td><%= evaluacione.contestada %></td>
        <td><%= evaluacione.nombre %></td>
        <td><%= evaluacione.curso.nombre %></td>
        <td><%= evaluacione.encuesta.nombre %></td>
        <td><%= link_to 'Mostrar', evaluacione %></td>
        <td><%= link_to 'Editar', edit_evaluacione_path(evaluacione) %></td>
        <td><%= link_to 'Eliminar', evaluacione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Evaluacion', new_evaluacione_path %>
