<p id="notice"><%= notice %></p>

<p>
  <strong>Curso:</strong>
  <%= @curso_alumno.curso.nombre %>
</p>

<p>
  <strong>Alumno:</strong>
  <%= @curso_alumno.alumno.nombre %>
</p>
<p>
 <strong>Ayudante:</strong>
  <%= @curso_alumno.ayudante %>
</p>
<p>
 <strong>Estado:</strong>
  <%= @curso_alumno.estado %>
</p>
<p>
<strong>Jefe Proyecto:</strong>
  <%= @curso_alumno.jefe_proyecto %>
</p>

<%= link_to 'Edit', edit_curso_alumno_path(@curso_alumno) %> |
<%= link_to 'Back', curso_alumnos_path %>
