<p id="notice"><%= notice %></p>

<h1>Listing Grupo Alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Alumno</th>
      <th>Grupo</th>
      <th>Es jefe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupo_alumnos.each do |grupo_alumno| %>
      <tr>
        <td><%= grupo_alumno.alumno_id %></td>
        <td><%= grupo_alumno.grupo_id %></td>
        <td><%= grupo_alumno.jefe %></td>
        <td><%= link_to 'Show', grupo_alumno %></td>
        <td><%= link_to 'Edit', edit_grupo_alumno_path(grupo_alumno) %></td>
        <td><%= link_to 'Destroy', grupo_alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo alumno', new_grupo_alumno_path %>
