<p id="notice"><%= notice %></p>

<h1>Listing Funcionalidad Ayudante Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Curso alumno</th>
      <th>Funcionalidad</th>
      <th>Permitido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionalidad_ayudante_cursos.each do |funcionalidad_ayudante_curso| %>
      <tr>
        <td><%= funcionalidad_ayudante_curso.curso_alumno_id %></td>
        <td><%= funcionalidad_ayudante_curso.funcionalidad_id %></td>
        <td><%= funcionalidad_ayudante_curso.permitido %></td>
        <td><%= link_to 'Show', funcionalidad_ayudante_curso %></td>
        <td><%= link_to 'Edit', edit_funcionalidad_ayudante_curso_path(funcionalidad_ayudante_curso) %></td>
        <td><%= link_to 'Destroy', funcionalidad_ayudante_curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funcionalidad ayudante curso', new_funcionalidad_ayudante_curso_path %>
