<p id="notice"><%= notice %></p>

<p>
  <strong>Curso:</strong>
  <%= @funcionalidad_ayudante_curso.curso.nombre %>
</p>

<p>
  <strong>Alumno:</strong>
  <%= @funcionalidad_ayudante_curso.alumno.nombre %>
</p>

<p>
  <strong>Funcionalidad:</strong>
  <%= @funcionalidad_ayudante_curso.funcionalidad.descripcion %>
</p>

<p>
  <strong>Permitido:</strong>
  <%= @funcionalidad_ayudante_curso.permitido %>
</p>

<%= link_to 'Edit', edit_funcionalidad_ayudante_curso_path(@funcionalidad_ayudante_curso) %> |
<%= link_to 'Back', funcionalidad_ayudante_cursos_path %>
