<p id="notice"><%= notice %></p>

<h1>Listing Encuesta Alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Alumno</th>
      <th>Encuesta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encuesta_alumnos.each do |encuesta_alumno| %>
      <tr>
        <td><%= encuesta_alumno.estado %></td>
        <td><%= encuesta_alumno.alumno_id %></td>
        <td><%= encuesta_alumno.encuesta_id %></td>
        <td><%= link_to 'Show', encuesta_alumno %></td>
        <td><%= link_to 'Edit', edit_encuesta_alumno_path(encuesta_alumno) %></td>
        <td><%= link_to 'Destroy', encuesta_alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encuesta alumno', new_encuesta_alumno_path %>
